.container {
    height: 100vh;
    background: #F9F9F9;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 24px 0;
}

.primary-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.primary-information .name-user {
    font-size: 2.4rem;
    font-weight: 700;
    color: #293032;
}

.primary-information .current-date {
    font-size: 1.6rem;
    font-weight: 500;
    color: #5142AB;
}

.image-user-container {
    display: flex;
    align-items: center;
}

.image-user-container .image-user {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}